<div class="container" style="margin-top: 45px;">

  <div *ngIf="customers.length > 1; else spinner">
    <table class="table table-hover table-bordered table-info">

      <thead class="thead-dark">
        <th>Customer / Department</th>
        <th>Baseline</th>
        <th *ngFor="let location of locations">
          {{location}}
        </th>
      </thead>
      <tbody *ngFor="let customer of customers | paginate: { itemsPerPage: count, currentPage: p, totalItems: pageInfo.total }">
        <tr>
          <td>{{customer.node.name}}</td>
          <td>
            <a href="javascript:overlay(customer.node.baselinebaselinePrice)">${{customer.node.baselinePrice}}</a>
          </td>
          <ng-container *ngFor="let location of locations">
            <td *ngIf="customer.node.locations[location]; else filler">
              <a href="javascript:overlay(customer.node.locations[location].price)">${{customer.node.locations[location].price}}</a>
            </td>
          </ng-container>
        </tr>

      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

</div>

<ng-template #filler>
  <td>
    <a> </a>
  </td>
</ng-template>

<ng-template #spinner>
  <div class="app-loading">
    <div class="logo"></div>
    <svg class="spinner" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
  </div>
</ng-template>
