.container {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
