.container {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.header {
  grid-area: header;
}

.content {
  position: absolute;
  margin-top: inherit;
  top: 0;
  left: 0;
  height: inherit;
  width: 100%;
}

.footer {
  grid-area: footer;
}
